        h2 {
            color: dimgray;
            font-weight: bolder;
            font-size: xx-large;
            text-align: center;
        }
        
        h4 {
            font-weight: bolder;
            font-size: x-large;
        }
        
        div .input-box {
            padding: 5px;
            border-radius: 10px;
            align-content: flex-start;
        }
        
        div .input-group {
            display: block;
            align-items: stretch;
        }
        
        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            text-align: center;
        }